<div class="FourSquare">
    <div ng-repeat="item in venues | limitTo: 10">

        <div class="foursquareResult">
            <div class="fourInfo">
                <p class="fourName">{{item.name}}</p>
                <p class="fourLocation">{{item.location.address}}</br>
                    {{item.contact.formattedPhone}} {{item.url}} {{item.menu.url}}
                </p>
            </div>
        </div>
        <!--
        <h2>{{item.location}}</h2>
        <h2>{{item.id}}</h2>
    -->

    </div>
</div>


div class="SeatGeek">
    <div  ng-repeat = "seat in events">
        <div class="seatgeekResults">
        <p id="sgTitle">{{seat.title}}</p>
        <p id= "sgType">{{seat.type}}</p>    
        <p id="sgDateTime">{{seat.datetime_local |date: format: 'MMM d, y, h:mm:ss a'}}</p>
        <p id="sgVenueName">{{seat.venue.name}}</p>
        <p id="sgAddress">{{seat.venue.address}}, {{seat.venue.city}}</p> 
          
        <button id="buyTixBut"><a id ="buttText" target ="_blank" href="{{seat.venue.url}}">Buy Tickets</a></button>
    </div>

    </div>




<div class="Twitter">
    <div class="containter3">
        <div ng-repeat="tweet in statuses | limitTo: 10">

            <div class="columntweet">
                <div class="profileimg">
                    <img src={{tweet.user.profile_image_url}}>
                </div>

                <div class="tweettext">
                    <p>{{tweet.text}}</p>
                </div>
            </div>
            <div class="mediaimg">

                <img ng-hide='img === tweet.extended_entities.media[0].media_url' class="img" src={{tweet.extended_entities.media[0].media_url}}>
            </div>
        </div>
    </div>
</div>



<img id="map" width="600" src="https://maps.googleapis.com/maps/api/staticmap?center={{location}}&zoom=15&scale=1&size=700x500&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C{{location}}"
    alt="Roam in Your Area">